## Setup
ABOUT_DATABASE=sdc_factory_about-devdb
USE_DBS=postgres,cassandra,json

## Mongo Variables
ABOUT_MONGODB_URI=mongodb://localhost

## Cassandra Variables
CASSANDRA_CONTACTPOINT=localhost

## Postgres Variables
PG_HOST=localhost
PG_USER=postgres
PG_PASSWORD=
PG_PORT=5432

## Seed Data Sizes
SEEDCOUNT=100000
CHUNKSIZE=10000

## In case this is loaded by default
NODE_ENV=development