## Setup
ABOUT_DATABASE=sdc_factory_about-devdb
USE_DBS=cassandra,postgres,mongo,json

## Mongo Variables
ABOUT_MONGODB_URI=mongodb://localhost

## Cassandra Variables
CASSANDRA_CONTACTPOINT=localhost

## Postgres Variables

## Seed Data Sizes
SEEDCOUNT=1000
CHUNKSIZE=100