[
  {
    "course_id": 1,
    "recent_views": 74183138,
    "description": "Accusantium error explicabo saepe nulla perferendis qui. Consequatur qui at earum corrupti. Autem qui et.\n \rExpedita ut aspernatur quia cumque quae earum. Repudiandae error incidunt magni esse quis quas. Neque ducimus vitae exercitationem nostrum qui animi.\n \rQui maxime et. Possimus eos mollitia vel. Molestias et id aspernatur sed est. Eligendi aut maxime ea. Ut consequatur sunt voluptatum omnis. Adipisci qui natus sunt doloribus vero.\n \rPariatur explicabo eum qui magni. Culpa ut consequatur sapiente nostrum. Aliquam voluptatem et vero fugit unde soluta repellat. Itaque similique distinctio accusamus rerum laborum nihil magni. Est dolor error reprehenderit.",
    "learner_career_outcomes": {
      "direction": 0.38,
      "benefit": 0.29,
      "promo": 0.86
    },
    "metadata": {
      "hours": "78",
      "subtitles": "Hebrew"
    },
    "what_you_will_learn": [
      "Blanditiis nobis saepe minus molestiae voluptas cupiditate. Exercitationem eveniet ipsum est veritatis dignissimos fuga.",
      "Est dolorem laboriosam ratione commodi. Rerum ut quia soluta distinctio ex et odio.",
      "Nulla non impedit quam quis. Eos voluptatem eligendi voluptatem est itaque cupiditate quod aliquid.",
      "Molestiae voluptatum ut dolore repellendus eum officia odio. Est est non."
    ],
    "skills_you_will_gain": [
      "enim eius",
      "reprehenderit doloremque et",
      "omnis atque",
      "veritatis reprehenderit nulla",
      "quos aliquid",
      "quisquam libero",
      "quaerat aut saepe"
    ]
  },
  {
    "course_id": 2,
    "recent_views": 12735651,
    "description": "Minima sapiente molestiae non est ullam et distinctio. Voluptates modi totam eos. Corporis cum placeat eligendi consectetur rem totam at. Sit aut illum ut laboriosam cupiditate nihil est voluptatem. Expedita voluptatem sint sapiente voluptas.",
    "learner_career_outcomes": {
      "direction": 0.14,
      "benefit": 0.37,
      "promo": 0.1
    },
    "metadata": {
      "hours": "50",
      "subtitles": "Hebrew"
    },
    "what_you_will_learn": [
      "Saepe accusantium assumenda sint perferendis ullam."
    ],
    "skills_you_will_gain": [
      "et consequatur nobis"
    ]
  },
  {
    "course_id": 3,
    "recent_views": 63275464,
    "description": "Molestiae consequatur quo magni. A dignissimos atque quidem voluptates ipsum consectetur exercitationem. Qui ullam dolor cum expedita illo cumque. Illo minima et inventore minima numquam et ea. Et tempore numquam nihil sit illum molestiae.",
    "learner_career_outcomes": {
      "direction": 0.09,
      "benefit": 0.95,
      "promo": 0.08
    },
    "metadata": {
      "hours": "163",
      "subtitles": "Romanian"
    },
    "what_you_will_learn": [
      "Qui reiciendis est non ipsam inventore."
    ],
    "skills_you_will_gain": [
      "molestiae tempora in"
    ]
  },
  {
    "course_id": 4,
    "recent_views": 63471561,
    "description": "Harum debitis quibusdam tempore. Molestiae illum itaque dolor quia eos veniam ut. Totam saepe ullam fuga quidem expedita. Expedita ratione dolorem temporibus. Illo eius repellat voluptatem ad repellendus blanditiis. Omnis aut quia possimus beatae non possimus ut aut.",
    "learner_career_outcomes": {
      "direction": 0.9,
      "benefit": 0.92,
      "promo": 0.65
    },
    "metadata": {
      "hours": "89",
      "subtitles": "Hindi"
    },
    "what_you_will_learn": [
      "Nisi voluptatem eligendi asperiores quae."
    ],
    "skills_you_will_gain": [
      "doloremque hic"
    ]
  },
  {
    "course_id": 5,
    "recent_views": 76250585,
    "description": "Et sint et quia laboriosam accusantium quia adipisci eum in. Perspiciatis et aut dolores. Quis dolorem animi pariatur repellendus expedita harum ipsa. Perferendis facere eos autem facere nihil et.",
    "learner_career_outcomes": {
      "direction": 0.22,
      "benefit": 0.21,
      "promo": 0.91
    },
    "metadata": {
      "hours": "81",
      "subtitles": "Turkish"
    },
    "what_you_will_learn": [
      "Atque architecto laboriosam."
    ],
    "skills_you_will_gain": [
      "ut expedita porro"
    ]
  },
  {
    "course_id": 6,
    "recent_views": 13744287,
    "description": "Id eveniet qui provident ratione ad magnam. Saepe rem rerum. Commodi impedit tenetur esse.",
    "learner_career_outcomes": {
      "direction": 0.12,
      "benefit": 0.49,
      "promo": 0.87
    },
    "metadata": {
      "hours": "105",
      "subtitles": "Portuguese (European)"
    },
    "what_you_will_learn": [
      "Ex repellendus accusamus molestiae sed reiciendis."
    ],
    "skills_you_will_gain": [
      "voluptas est occaecati"
    ]
  },
  {
    "course_id": 7,
    "recent_views": 13547972,
    "description": "Libero atque necessitatibus aut in ut. Natus fugiat est deleniti aliquid molestiae. Reprehenderit voluptates qui libero culpa quis ad quam asperiores. Cum expedita officiis numquam. Possimus voluptatibus ut aut sequi quasi. Fugit animi culpa quos aut soluta.",
    "learner_career_outcomes": {
      "direction": 0.72,
      "benefit": 0.62,
      "promo": 0.86
    },
    "metadata": {
      "hours": "168",
      "subtitles": "Gujarati"
    },
    "what_you_will_learn": [
      "Doloremque velit velit."
    ],
    "skills_you_will_gain": [
      "aperiam voluptas"
    ]
  },
  {
    "course_id": 8,
    "recent_views": 28549130,
    "description": "Possimus illo rerum laborum labore vero id. Est expedita eaque quo ut delectus earum. Ullam corrupti dicta accusantium ipsam ut aut omnis. Quo voluptatem corrupti ut voluptatem. In est officia reiciendis iusto adipisci eligendi qui.",
    "learner_career_outcomes": {
      "direction": 0.04,
      "benefit": 0.56,
      "promo": 0.01
    },
    "metadata": {
      "hours": "152",
      "subtitles": "Spanish"
    },
    "what_you_will_learn": [
      "Est eaque aperiam et recusandae quam."
    ],
    "skills_you_will_gain": [
      "in quod"
    ]
  },
  {
    "course_id": 9,
    "recent_views": 45117993,
    "description": "Alias odio et. Cum molestiae ducimus quo blanditiis voluptatem excepturi fugit. Velit voluptas et distinctio dolores temporibus optio. Eligendi totam dignissimos. Est nostrum deserunt sed omnis voluptas sint voluptate excepturi. Quo aspernatur omnis aut voluptates temporibus iusto rem eos dolores.",
    "learner_career_outcomes": {
      "direction": 0.74,
      "benefit": 0.76,
      "promo": 0.8
    },
    "metadata": {
      "hours": "178",
      "subtitles": "Hindi"
    },
    "what_you_will_learn": [
      "Maiores ut illum voluptatem laudantium totam temporibus consequatur nesciunt aut."
    ],
    "skills_you_will_gain": [
      "sint eos"
    ]
  },
  {
    "course_id": 10,
    "recent_views": 65666683,
    "description": "A aspernatur doloribus fugit quis dolores sit. Iusto consectetur est voluptatem accusamus quis rem similique sunt saepe. Incidunt dolore officia. Maxime voluptates repellendus quibusdam qui. Quidem accusantium aut et suscipit. Repudiandae mollitia similique ullam quia.",
    "learner_career_outcomes": {
      "direction": 0.2,
      "benefit": 0.96,
      "promo": 0.99
    },
    "metadata": {
      "hours": "184",
      "subtitles": "Turkish"
    },
    "what_you_will_learn": [
      "Voluptas voluptas ut magni amet."
    ],
    "skills_you_will_gain": [
      "saepe ipsum"
    ]
  }
]